*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
:root {
	--label: #111;
	--dark: #292C35;
	--light: #F1F1F1;

  --bg-color: var(--dark);
  --text-color: var(--light);
  --bg-button: #149FC2;
  --bg-button-hover: #005B96;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
}
.light {
  --bg-color: var(--light);
  --text-color: var(--dark);
  --bg-button: #FFD700;
  --bg-button-hover: #DC6900;
}
main {
  border-radius: 59px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
button {
  height: 46px;
  border: 1px solid var(--bg-button-hover);
  border-radius: 12px;
  transition: .5s;
  color: var(--text-color);
  background-color: var(--bg-button);
  cursor: pointer;
}
button:hover {
  background-color: var(--bg-button-hover);
}
h1,p {
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  text-decoration: underline;
}
footer {
  padding: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 235px;
  height: 102px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--label);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 88px;
  width: 88px;
  left: 4px;
  bottom: 7px;
  background-color: white;
  -webkit-transition:.4s;
  transition: .4s;
}
input:not(:checked) + .slider{
  background-image: url('../images/sun.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 78.46px;
}
input:checked + .slider {
  background-image: url('../images/moon.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 94.15px;
}
input:checked + .slider:before {
  -webkit-transform: translateX(140px);
  -ms-transform: translateX(140px);
  transform: translateX(140px);
}
.slider.round {
  border-radius: 59px;
}
.slider.round:before {
  border-radius: 50%;
}